<div class="container hero">
  <div class="row col-10 offset-1 page-row align-middle">
    <div class="hero-text my-auto">
      <h2>
        What are you looking for?
       </h2> 
    </div>
  </div>
</div>


<div class="shadow-box col-10 offset-1">
	<h2>Birth Family Search</h2>
	<ul>
		<li>Check out information on <%= link_to 'adoption agencies', resources_path(params: {:resource_category => 0}) %>, <%= link_to 'DNA tests', resources_path(params: {:resource_category => 2})%>, as well as <%= link_to 'KAD-run organizations', resources_path(params: {:resource_category => 5}) %> that can assist you in your search.
		</li>
	</ul>

	<h2>Building Community</h2>
	<ul>
		<li>Look into <%= link_to 'local groups', resources_path(params: {:resource_category => 6}) %> in your area (or in areas that you are visiting soon!). </li>
		<li>If you are looking for information for your child who is a KAD, there are many <%= link_to 'resources for kids', resources_path(params: {:resource_category => 9}) %>, including summer camps.</li>
		<li>Many adoptees connect with the community at <%= link_to 'events', resources_path(params: {:resource_category => 3}) %> such as conferences.</li>
	</ul>

	<h2>Entertainment</h2>
	<ul>
		<li>Korean adoptees are authors, creators, musicians, artists, and more.</li>
		<li>The <%= link_to 'Film, TV, and Music', resources_path(params: {:resource_category => 4}) %> section can refer you to multimedia works by and for adoptees.</li>
		 <li>Love to read? There are many <%= link_to 'books', resources_path(params: {:resource_category => 1}) %> by and for adoptees. This section also includes books about Korea and adoption.</li>
	</ul>

	<h2>Visiting Korea</h2>
	<ul>
		<li>There are many <%= link_to 'tours', resources_path(params: {:resource_category => 7}) %> for adoptees who wish to travel to Korea. Each has its own itinerary, purpose, and cost. Some require an application.</li>
		<li>If traveling on your own or looking for general advice in advance of a tour, you may also want to check out <%= link_to 'travel tips', resources_path(params: {:resource_category => 10}) %> from fellow KADs.</li>
	</ul>
</div>
