<div class="container hero">
  <div class="row col-10 offset-1 page-row align-middle">
    <div class="hero-text my-auto">
      <h2>My Profile</h2> 
    </div>
  </div>
</div>
<div class="row col-10 offset-1">
  <div class="col-12 col-sm-4 shadow-box">
    <h2>My Info</h2>
    <br />
    <b>Member since:</b> <%= Date::MONTHNAMES[@user.created_at.month] %> <%= @user.created_at.day %>, <%= @user.created_at.year %>
    <br />
    <b>Username:</b> <%= @user.username %>
    <br/>
    <b>Email:</b> <%= @user.email %>
    <br />
    <b>Contributions:</b> 
      <% if @resources.count != 0 %>
        <%= @resources.count %>
      <% else %>
        None yet!
      <% end %>
    <br /><br />
    <small><%= link_to 'Update My Info', edit_user_registration_path %></small>
  </div>
  <div class="col-12 col-sm-1">
  </div>
  <div class="col-12 col-sm-7 shadow-box">
    <h2>My Favorites</h2>
    <br />
    <% if @favorites != nil %>
      <% @favorites.each do |favorite| %>
      <!-- Line 35 is a database query - best practice is to not have these in views (why?). Move the logic to the controller -->
        <% resource = Resource.find_by_id(favorite.favorited_id) %>
        <% if resource %>
          <%= link_to resource.name, resource_path(resource) %>
          <br />
        <% end %>
      <% end %>
    <% else %>
      None yet!
    <% end %>
  </div>
</div>