
<div class="shadow-box col-10 offset-1">
<% if @resource.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@resource.errors.count, "error") %>
			prohibited this resource from being saved:</h2>
			<ul>
				<% @resource.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	
	<h2>Submit a KAD Resource</h2>
	<br />
	<%= form_for @resource, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
		<%= label_tag(:name, "Resource name or title:") %>
		<%= f.text_field :name, class: 'form-control' %>
		<br />
		<%= label_tag(:description, "Describe the resource:") %>
		<%= f.text_area :description, class: 'form-control' %>
		<br />
		<%= label_tag(:website, "Website:") %>
		<%= f.text_field :website, class: 'form-control' %>
		<br />
		<%= label_tag(:location, "Location:") %>
		<%= f.text_field :location, class: 'form-control' %>
		<br />
		<%= label_tag(:resource_category, "Select the resource type below:") %><br />
		<%= f.select :resource_category, Resource.resource_categories.keys, {}, class: 'form-control' %>
		<br /><br />
		<%= f.submit "Submit", class: 'btn btn-primary' %>
	<% end %>
</div>