<div class="shadow-box col-10 offset-1">
	<h2>Submit a KAD Resource</h2>
	<br />
	<%= form_for @resource, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
		<%= label_tag(:name, "Resource name or title:") %>
		<br />
		<%= f.text_field :name, size: "50x1" %>
		<br />
		<%= label_tag(:description, "Describe the resource:") %>
		<br />
		<%= f.text_area :description, size: "50x5" %>
		<br />
		<%= label_tag(:website, "Website:") %>
		<br />
		<%= f.text_field :website, size: "50x1" %>
		<br />
		<%= label_tag(:location, "Location (state if in the U.S., country if international):") %>
		<br />
		<%= f.text_field :location, size: "50x1" %>
		<br />
		<%= label_tag(:resource_category, "Select the resource type below:") %>
		<br />
		<%= f.select :resource_category, Resource.resource_categories.keys %>
		<br /><br />
		<%= f.submit "Submit" %>
	<% end %>
</div>