<!DOCTYPE html>
<html>
  <head>
    <title>KAD Library</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div id="flex-content-container">
			<nav class="navbar navbar-toggleable-md navbar-light bg-primary sticky-top">
			  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <%= link_to 'KAD Library', root_path, class: 'navbar-brand' %>

			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav mr-auto">
			      <li class="nav-item">
			        <%= link_to 'Start Here', start_here_path, class: 'nav-link' %>
			      </li>
			      <li class="nav-item dropdown">
			        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          Resources by Type
			        </a>
			        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
			        	<%= link_to 'Adoption Agencies', resources_path(params: {:resource_category => 0}), class: 'dropdown-item' %>
			        	<%= link_to 'Books', resources_path(params: {:resource_category => 1}), class: 'dropdown-item' %>
			        	<%= link_to 'DNA Testing', resources_path(params: {:resource_category => 2}), class: 'dropdown-item' %>
			        	<%= link_to 'Events', resources_path(params: {:resource_category => 3}), class: 'dropdown-item' %>
			          <%= link_to 'Film, TV, and Music', resources_path(params: {:resource_category => 4}), class: 'dropdown-item' %>
			          <%= link_to 'KAD-Run Organizations', resources_path(params: {:resource_category => 5}), class: 'dropdown-item' %>
			          <%= link_to 'Local Groups', resources_path(params: {:resource_category => 6}), class: 'dropdown-item' %>
			          <%= link_to 'Tours', resources_path(params: {:resource_category => 7}), class: 'dropdown-item' %>
			          <%= link_to 'Other', resources_path(params: {:resource_category => 8}), class: 'dropdown-item' %>
	        		</div>
	     			</li>
					 <li class="nav-item">
						<%= link_to 'See All Resources', resources_path, class: 'nav-link' %>		      
					 </li>
	   			 <li class="nav-item">
		        <%= link_to 'Submit a Resource', new_resource_path, class: 'nav-link' %>
		       </li>
			    </ul>

			    <ul class="navbar-nav">
			    	<% if user_signed_in? %>
			    		<li class="nav-item">
			    			<%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
			    		</li>
			    	<% else %>
			    		<li class="nav-item">
				    		<%= link_to 'Log in', new_user_session_path, class: 'nav-link' %>
				    	</li>
				    	<li class="nav-item">
				    		<%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %>
				    	</li>
			    	<% end %>
			    </ul>
			  </div>
			</nav>

			<% if notice.present? %>
				<p class="alert alert-info"><%= notice %></p>
			<% end %>
			<% if alert.present? %>
	    	<p class="alert alert-danger"><%= alert %></p>
	    <% end %>
	    
	    <%= yield %>
	  </div>

	 <div id="footer">
	 	<div class="container">
	 		<div class="row">
	 			<div class="col-12 col-sm-3">
			 		<b>Info</b>
			 		<br />
			 		<%= link_to 'About', about_path %>
			 		<br />
			 		<%= link_to 'FAQ', '#' %>
			 	</div>
			 	<div class="col-12 col-sm-3">
			 		<b>Contribute</b>
			 		<br />
			 		<%= link_to 'Submit a Resource', new_resource_path %>
			 	</div>
			 	<div class="col-12 col-sm-3">
			 		<b>Connect</b>
			 		<br />
			 		<%= link_to 'Contact', '#' %>
			 		<br />
			 		<%= link_to 'Sign Up', new_user_registration_path %>
			 	</div>
			 	<div class="col-12 col-sm-3">
			 		<b>Search</b>
			 		<br />
			 		Search bar here
			 	</div>
			 </div>
			</div>
	 	</div>
	 </div>
  </body>
</html>
